

/*===dùng reset để thiết lập cơ bản chung===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{box-sizing: border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===dùng reset để thiết lập cơ bản chung===*/



body{font-size:14px;font-family: 'Arial';}
a{text-decoration: none;}
.clearfix::after { 
    content: "";
    clear: both;
    display: table;
}


.page_container{
    max-width:100%; /* độ rộng màn hình cơ bản là 1366px trừ đi cái thanh cuộn còn 1349*/
    overflow: hidden; 
      
}

/*menu header*/
.menu_header{border-top:1px solid #ebebeb;}
.menuheader_left{float:left;}
.menuheader_right{float:right}
.menu_hmain >li{
    float:left;
    padding: 0.8em 1.5em;
}
.menu_hmain li a{display: block;color:#666;}
.menuheader_right li{border:none}

.li_co_cap{
    position: relative; /* thằng cha dùng relative*/
}
.menu_con{
    position: absolute; /* thằng con dùng absolute*/
    top:100%; 
    left:50%; 
    transform: translate(-50%, 0px);
    display:none;
    width: 150px ;
    z-index: 99999;
    border:1px solid #ebebeb;
    border-top:none;
    padding:20px;background:#fff;
}
.menu_con li{display: block;margin-bottom:8px;float: none;padding:0;}
.menu_con li a{font-size:13px;}
.li_co_cap:hover .menu_con{display:block} 
.li_co_cap:hover{border-bottom:2px solid #000}  

.menu_con li{display: block;margin-bottom:8px;float: none;padding:0;}
.menu_con li a{font-size:13px;}
.li_co_cap:hover .menu_con2{display:block} 
.li_co_cap:hover{border-bottom:2px solid #000} 


.fixed_menu{
    position: fixed;
    width:100%;
    top:0;left:0;
    z-index: 999999;
    background:#fff;
}

.menu_header2{
    border-bottom: 1px solid #ebebeb; 
    border-top: 1px solid #ebebeb; 
    padding:0 10px;
}

.menuheader_left2{
   padding: 12px 5px;
    float: left;
    position: relative;
}
.menuheader_mid{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    
}
.menuheader_mid li{
    border: none;
} 
/*menu header*/




#logo{float:left;width:200px;margin-top:12px;}
#menu_contain{float:left;width:calc(100% - 400px); padding:0 10px;text-align: center;}
#menu_contain li{padding: 0 30px;line-height:72px;}
#menu_contain ul{background:#fff;}
#menu_contain >ul > li> a{text-transform: uppercase;font-size:16px;font-weight:bold;color:#333}
#menu_contain .menu_con{width:250px;text-align: left;top:100%;box-shadow:0px 5px 5px rgba(0,0,0,0.3);padding:0}
#menu_contain .menu_con li{line-height: 1.5;padding:10px;transition:all ease 0.5s;margin-bottom:0;position: relative;}
#menu_contain .menu_con li:hover{background:#ebebeb;}
#menu_contain .menu_con li a{display: block;}
#menu_contain .menu_con li:hover > a{color:#000}
#menu_contain .li_co_cap:hover{border:none;}
#menu_contain .li_co_cap:hover:after{content:'';position: absolute;bottom:0;left:50%;transform: translate(-50%,0);width:100%;
border-top:2px solid #666;}

.main_content{
    border: 1px solid  white;
    min-height: 100px;

    margin-left: 40px; margin-right: 40px;
    position: relative;
}
.main_content2{
    border: 1px solid  white;
    min-width: 1500px;
    height: 1000px;
}

.img_main_2{
    float :right;
}
.img_main_3{
    float: left;
}


.main_content3{
    border: 1px solid  white;
    width: 1320px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    
}

.button{
    position: absolute;
    bottom: 300px;
    left: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button:hover {background-color: rgb(126, 126, 216)}

.Shirt{
    
    font-size: 50px;
    color: black;
    
    
}
.menu_con li a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}
.menu_con li a:hover{color: blue;}

.content_2{
    font-size: 50px;
    color: black;
    margin: 100px 0 0 18px;
}
.content_3{
    font-size: 50px;
    color: black;
    margin: 50px 0 0 130px;
}

.img_main_2{
    position: relative;
    margin-right: 20px;
   
}
.img_main_3{
    position: relative;
    margin-left: 20px;
}
.button2 {
    position: absolute;
    top: 300px;
    right: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button2:hover {background-color: rgb(126, 126, 216)}



.button3 {
    position: absolute;
    top: 300px;
    right: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button3:hover {background-color: rgb(126, 126, 216)}

.button4 {
    position: absolute;
    top: 400px;
    right: 200px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button4:hover {background-color: rgb(126, 126, 216)}

.button5 {   
    margin: 10px 0 0 0 ;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
    
}

.button5:hover {background-color: rgb(126, 126, 216)}



.footer{    /*footer 1*/
    margin-top: 10px;
    height: 400px;
    background-color: wwhile ;
    border: 1px solid #ebebebed;
    background-color: #ebebebed;;

}
.content_footer{
    color: black;
    width: 300px;
    background-color: #ebebebed;;
    
    margin : 100px 0 100px 200px;
    font-size: 20px;
    
}   
.content_footer{
    float:left;
    color: black;
    width: 300px;
    background-color: #ebebebed;;   
    margin : 30px 0 100px 200px;
    font-size: 20px;
    
}
.content_foot{
    color:black;
    border-bottom: 0.5px solid black;
    font-size: 20px;
}
 
.icon1 {
    width: 40;
    transition: width 1s;
}

.icon1:hover {
    width: 50;
}

.icon2 {
    width: 40;
    transition: width 1s;
}

.icon2:hover {
    width: 50;
}

.icon3 {
    width: 40;
    transition: width 1s;
}

.icon3:hover {
    width: 50;
}


.hotline{
    color:blue;
    font-size: 3opx;
    
}   /*footer 1*/



.content_footer2{ /*footer 2*/
    float:right;
    color: black;
    width: 300px;
    background-color: #ebebebed;;
    margin : 30px 500px 100px 0;
    font-size: 20px;
    
}
.content_foot2{
    color:black;
    border-bottom: 0.5px solid black;
    font-size: 20px;
}
.form_search input{
    width:100%; /**/
    line-height: 35px;
    text-indent: 10px; 
    border:1px solid #999;
}

.form_search2 input{
    width:100%; /**/
    line-height: 35px;
    text-indent: 10px; 
    border-radius: 1px;
}
.form_search2{
    float: left;
}
.form_search{width:200px;float:right;margin-top:18px;}


.footer2{
    background-color: rgba(36, 20, 20, 0.233);
    border: 1px solid rgba(36, 20, 20, 0.233);
    height:50px;
}

.content_footer3{
    float:right;

}
.content_footer3 li {
    float: left;
    padding: 0 0 0 5px;
}

.content_footer3 li .copyrgiht {
    
    padding: 0 0 0 20px;
}
/*footer 2*/












/*==========BOX INTRO===============*/
.boxintro_item{text-align: center;}
.boxintro_main{background:#f5f5f5;padding:12px 0;}
.auto_intro, .auto_intro div{outline:none !important;}