
body{
  margin: 0;
  padding: 0;
  background: url(../img/register00.jpg);
  background-size: fixed;
  
  background-position: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;;
 } 
 .login-box{
  width: 380px;
  height: 700px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 61%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
 }
 .avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
 }
 h1{
  margin: 0;
  padding: 0 0 20;
  text-align: center;
  font-size: 22px;
 }
 .login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
 }
 .login-box input{
  width: 100%;
  margin-bottom: 12px;
 }
 .login-box input[type="email"], input[type="password"], input[type="text"], input[type="file"]  
 {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
 }
 .login-box input[type="submit"]
 {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
 }
 .login-box input[type="submit"]:hover
 {
  cursor: pointer;
  background: #39dc79;
  color: #000;
 }
 
 .login-box a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
 }
 .login-box a:hover{
   color: #1c8adb;
 }
 
 .text-danger{
  border: none;
  background: transparent;
  outline: none;
  height: 15px;
  color: darkorange;
  font-size: 16px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 25%;

}

.btn {
  border: 2px solid #dc3545;
  color: #dc3545;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  
}