

/*===dùng reset để thiết lập cơ bản chung===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
*{box-sizing: border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;background: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{max-width: 100%;}
/*===dùng reset để thiết lập cơ bản chung===*/


.fixwidth{max-width: 1200px;margin:auto;}


body{font-size:14px;font-family: 'Arial';}
a{text-decoration: none;}
.clearfix::after { 
    content: "";
    clear: both;
    display: table;
}

@keyframes example {
    0% {opacity: 0.25;
        filter: alpha(opacity=50);}
    25% {opacity: 0.5;
        filter: alpha(opacity=50);}
    50% {opacity: 0.75;
        filter: alpha(opacity=50);}
    100% {opacity: 1;
        filter: alpha(opacity=50);}
}


.page_container{
    max-width:100%; /* độ rộng màn hình cơ bản là 1366px trừ đi cái thanh cuộn còn 1349*/
    overflow: hidden;       /*  cắt đi phần tử bị dư    */
    
      
}

.main_page{    
    margin: 0 auto;
}
.main_page >div{position: relative;}

/*menu header*/





#logo{float:left;width:200px;margin-top:12px;}
#menu_contain{float:left;width:calc(100% - 400px); padding:0 10px;text-align: center;}
#menu_contain li{padding: 0 30px;line-height:72px;}
#menu_contain ul{background:#fff;}
#menu_contain >ul > li> a{text-transform: uppercase;font-size:16px;font-weight:bold;color:#333} /*uppercase :viet hoa het*  capital :viet hoa ky tud dau*/
#menu_contain .menu_con{width:250px;text-align: left;top:100%;box-shadow:0px 5px 5px rgba(0,0,0,0.3);padding:0}
#menu_contain .menu_con li{line-height: 1.5;padding:10px;transition:all ease 0.5s;margin-bottom:0;position: relative;}
#menu_contain .menu_con li:hover{background:#ebebeb;}
#menu_contain .menu_con li a{display: block;}
#menu_contain .menu_con li:hover > a{color:#000}
#menu_contain .li_co_cap:hover{border:none;}
#menu_contain .li_co_cap:hover:after{content:'';position: absolute;bottom:0;left:50%;transform: translate(-50%,0);width:100%;
border-top:2px solid #666;}






.main_content{
    
    min-height: 100px;
    position: relative;
}
.main_content2{
    border: 1px solid  white;
}

.img_main_2{
    float :left;
    width:49%;
}
.img_main_3{
    float: right;
    width:49%;
}


.main_content3{
    position: relative;
    border: 1px solid  white;
    margin: 0 auto;
    margin-bottom: 100px;
}



.content_4{
    padding:15px 5px;
    font-size: 40px;
    color: black;
}

.content_5{
    padding:15px 5px;
    font-size: 40px;
    color: black;
}

.content_6{
    padding:15px 5px;
    font-size: 40px;
    color: black;
}

.content_4 b, .content_5 b, .content_6 b{font-size:30px;font-weight: bold;}
.main_content4 a, .main_content5 a, .main_content6 a{text-align: center;display:block;position: relative;}


.main_content_grid{display: grid;grid-template-columns: repeat(3,1fr);grid-gap:30px;margin-top:30px!important;}
.main_content4{
    position: relative;
    border: 1px solid #ebebeb;    
}

.main_content5{
    position: relative;
    border: 1px solid #ebebeb;
    
}

.main_content6{
    position: relative;
    border: 1px solid #ebebeb;    
}

.table gt tbody tr td tfoot td {  
  vertical-align: middle;
  }
   
   
@media screen and (max-width: 600px) { 
  table#cart tbody td .form-control { 
  display: inline !important;
  } 
   
  .actions .btn { 
  width:36%; 
  margin:1.5em 0;
  } 
   
  .actions .btn-info { 
  float:left;
  } 
   
  .actions .btn-danger { 
  float:right;
  } 
   
  table#cart thead {
  display: none;
  } 
   
  table#cart tbody td {
  display: block;
  padding: .6rem;
  min-width:320px;
  } 
   
  table#cart tbody tr td:first-child {
  background: #333;
  color: #fff;
  } 
   
  table#cart tbody td:before { 
  content: attr(data-th);
  font-weight: bold; 
  display: inline-block;
  width: 8rem;
  } 
   
  table#cart tfoot td {
  display:block;
  } 
  table#cart tfoot td .btn {
  display:block;
  }
.container_grid{
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
}
}


.text-center{
  color:#ebebeb;
}

  .bg_login{background-color:#666
  }
  
  .login-box{ 
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  z-index: 9999;background-color: rgba(255,255,255,0.1);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
  }
  .lb-header a{
    color: rgba(255,255,255,0.8);
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .lb-header .active{
    color: #029f5b;
    font-size: 18px;
  }
  .social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;display: grid; grid-template-columns: repeat(2,1fr);grid-gap:30px;
  }
  .social-login a{
    position:relative;
    float: left;
    width:100%;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align:center;
  }
  .social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  .social-login a:first-child{
    background-color: #49639F;
  }
  .social-login a:last-child{
    background-color: #DF4A32;
  }
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  .u-form-group input[type="email"],
  .u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .u-form-group button{
    min-width:110px;
    background-color: black;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }

  .u-form-group:hover button{
    background-color: rgb(126, 126, 216);
    cursor: pointer;
  }
  


  .forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }

.fixwidth{max-width:1300px;margin:auto;}
.footer{    /*footer 1*/
    margin-top: 40px;
    min-height: 100px;
    background-color: wwhile ;
    border: 1px solid #ebebebed;
    background-color: #ebebebed;padding:40px 0;

}
.content_footer{
    color: black;
    width: 40%;
    background-color: #ebebebed;
    padding-right:50px;
    font-size: 10px;
    
}   
.content_footer{
    float:left;
    color: black;
    
    background-color: #ebebebed;

    font-size: 15px;
    
}
.content_foot{
    color:black;
    border-bottom: 0.5px solid black;
    font-size: 20px;margin-bottom:20px;font-weight:bold;
}
 
.icon1 {
    width: 40;
    transition: width 1s;
}

.icon1:hover {
    width: 50;
}

.icon2 {
    width: 40;
    transition: width 1s;
}

.icon2:hover {
    width: 50;
}

.icon3 {
    width: 40;
    transition: width 1s;
}

.icon3:hover {
    width: 50;
}


.hotline{
    color:blue;
    font-size: 3opx;
    
}   /*footer 1*/



.content_footer2{ /*footer 2*/   
    width: 30%;    
    position: relative;
    float:left;
    color: black;   
    background-color: #ebebebed;    
    font-size: 15px;    
}
.content_foot2{
    color:black;
    border-bottom: 0.5px solid black;
    font-size: 20px;margin-bottom:20px;font-weight:bold;
}
.footer_right{float:right;width:26%;overflow-x:auto;}
.form_search input{
    width:100%; /**/
    line-height: 35px;
    text-indent: 10px; 
    border:1px solid #999;
}

.form_search2 input{
    width:100%; /**/
    line-height: 35px;
    text-indent: 10px; 
    
}
.form_search2{
    
    margin-top:20px;position: relative;
}
.form_search{width:200px;float:right;margin-top:18px;}


.footer2{
    background-color: #ebebeb;
    border-top: 1px solid rgba(36, 20, 20, 0.233);    
    padding:0 1%;
    text-align:right;
}

.content_footer3{    
    line-height: 50px;
}
.content_foot3{display:inline-block;}
.content_footer3 li {
    float: left;
    padding: 0 0 0 5px;
}

.content_footer3 li .copyrgiht {
    
    padding: 0 0 0 20px;
}
/*footer 2*/



.img_con {
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_1{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_2{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_3{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_4{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_5{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_6{
    animation-name: example;
 animation-duration: 1.5s;
}



