

/*===dùng reset để thiết lập cơ bản chung===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
*{box-sizing: border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;background: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{max-width: 100%;}
/*===dùng reset để thiết lập cơ bản chung===*/


.fixwidth{max-width: 1200px;margin:auto;}


body{font-size:14px;font-family: 'Arial';}
a{text-decoration: none;}
.clearfix::after { 
    content: "";
    clear: both;
    display: table;
}

@keyframes example {
    0% {opacity: 0.25;
        filter: alpha(opacity=50);}
    25% {opacity: 0.5;
        filter: alpha(opacity=50);}
    50% {opacity: 0.75;
        filter: alpha(opacity=50);}
    100% {opacity: 1;
        filter: alpha(opacity=50);}
}


.page_container{
    max-width:100%; /* độ rộng màn hình cơ bản là 1366px trừ đi cái thanh cuộn còn 1349*/
    overflow: hidden;       /*  cắt đi phần tử bị dư    */
    
      
}


.main_page{    
    margin: 0 auto;

}
.main_page{padding-top:50px;}
.main_page >div{position: relative;}


/*menu header*/




#logo{float:left;width:200px;margin-top:12px;}
#menu_contain{float:left;width:calc(100% - 400px); padding:0 10px;text-align: center;}
#menu_contain li{padding: 0 30px;line-height:72px;}
#menu_contain ul{background:#fff;}
#menu_contain >ul > li> a{text-transform: uppercase;font-size:16px;font-weight:bold;color:#333} /*uppercase :viet hoa het*  capital :viet hoa ky tud dau*/
#menu_contain .menu_con{width:250px;text-align: left;top:100%;box-shadow:0px 5px 5px rgba(0,0,0,0.3);padding:0}
#menu_contain .menu_con li{line-height: 1.5;padding:10px;transition:all ease 0.5s;margin-bottom:0;position: relative;}
#menu_contain .menu_con li:hover{background:#ebebeb;}
#menu_contain .menu_con li a{display: block;}
#menu_contain .menu_con li:hover > a{color:#000}
#menu_contain .li_co_cap:hover{border:none;}
#menu_contain .li_co_cap:hover:after{content:'';position: absolute;bottom:0;left:50%;transform: translate(-50%,0);width:100%;
border-top:2px solid #666;}




.main_content{
    
    min-height: 100px;
    position: relative;
}
.main_content2{
    border: 1px solid  white;
    margin-top: 50px !important;
}

.img_main_2{
    float :left;
    width:50%;
}
.img_main_3{
    float: right;
    width:50%;
}


.main_content3{
    position: relative;
    border: 1px solid  white;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px !important;
}



.content_4{
    padding:15px 5px;
    font-size: 40px;
    color: black;
    
    background-color: #ebebeb;
}

.content_5{
    padding:15px 5px;
    font-size: 40px;
    color: black;
    text-align: center;
}

.content_6{
    padding:15px 5px;
    font-size: 40px;
    color: black;
    text-align: center;
}

.content_4 b, .content_5 b {
    font-size: 30px;
    font-weight: bold;
}
.main_content4 a, .main_content5 a {text-align: center;display:block;position: relative;}


.main_content_grid{display: grid;grid-template-columns: repeat(2,1fr);grid-gap:30px;margin-top:30px!important;}
.main_content4{
    position: relative;
    border: 1px solid #ebebeb;    
    background: #fff;
}

.main_content4 a{
    overflow: hidden;
}

.main_content4 a img{
    transition: all ease 0.6s;
    
}

.main_content4:hover a img{transform: scale(1.3) rotate(10deg); filter: grayscale(100%);}

.main_content5 a{
    overflow: hidden;

}

.main_content5 a img{
    transition: all ease 0.6s;
    
}



.main_content5:hover a img{transform: scale(1.3) rotate(10deg); filter: grayscale(100%);}


.main_content5{
    position: relative;
    border: 1px solid #ebebeb;
    background: #fff;
    
}

.main_content6 a{
    overflow: hidden;

}

.main_content6 a img{
    transition: all ease 0.6s;
    
}

.main_content6:hover a img{transform: scale(1.3) rotate(10deg); filter: grayscale(100%);}

.main_content6{
    position: relative;
    border: 1px solid #ebebeb;   
    background: #fff; 
}


.button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button:hover {background-color: rgb(126, 126, 216)}

.login:hover{
    color:black;
}

.Trangchu:hover{
    color:black;
}


.Shirt{
    font-size: 35px;
    color: black;
    font-weight:bold;
    background: #ebebeb;
    padding: 10px 20px;
}
.menu_con li a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}
.menu_con li a:hover{color: blue;}

.content_2{
    font-size: 50px;
    color: black;
    margin: 50px 0 0 0;
}
.content_3{
    font-size: 50px;
    color: black;
    
}

.img_main_2{
    position: relative;   
}
.img_main_3{
    position: relative;
}
.button2 {
    position: absolute;
    top: 300px;
    right: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button2:hover {background-color: rgb(126, 126, 216)}



.button3 {
    position: absolute;
    top: 300px;
    right: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button3:hover {background-color: rgb(126, 126, 216)}

.button4 {
    position: absolute;
    top: 500px;
    right: 200px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button4:hover {background-color: rgb(126, 126, 216)}

.button5 {   
    position: absolute;    
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;    
    top: 0px;
    right:0;
    height:100%;
    border:none;
    
}

.button5:hover {background-color: rgb(126, 126, 216)}

.button6 {
    position: absolute;
    top: 20px;
    left:20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button6:hover {background-color: rgb(126, 126, 216)}

.button7 {
    position: absolute;
    top: 20px;
    left:20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button7:hover {background-color: rgb(126, 126, 216)}

.button8 {
    position: absolute;
    top: 20px;
    left:20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: black;
    color:#ebebebed;
    border: none;
    border-radius: 15px;
}

.button8:hover {background-color: rgb(126, 126, 216)}

.khoi-slide .slide img{display: block;width: 100%;}
.khoi-slide .slide{margin-right:30px;}
.cac-slide{margin-right:-15px;}
.khoi-slide{overflow: hidden;margin-top:80px;}
.cac-slide, .cac-slide div{outline:none !important;}
.cac-slide .slick-prev:after, .cac-slide .slick-prev:before, .cac-slide .slick-next:after, .cac-slide .slick-next:before{content:'';}
.cac-slide .slick-prev{width:50px;height:50px;background:#fff url(../img/arrow_slick.png) no-repeat center;background-size:58%;left:20px;
top:calc(45% - 25px);z-index: 99;transform: rotate(180deg);border-radius: 50%; box-shadow: 0px 0px 5px rgba(0,0,0,0.5);}
.cac-slide .slick-next{width:50px;height:50px;background:#fff url(../img/arrow_slick.png) no-repeat center;background-size:58%;right:35px;
top:45%;z-index: 99;border-radius: 50%; box-shadow: 0px 0px 5px rgba(0,0,0,0.5);}


.fixwidth{max-width:1300px;margin:auto;}
.footer{    /*footer 1*/
    margin-top: 40px;
    min-height: 100px;
    background-color: wwhile ;
    border: 1px solid #ebebebed;
    background-color: #ebebebed;padding:40px 0;

}
.content_footer{
    color: black;
    width: 40%;
    background-color: #ebebebed;
    padding-right:50px;
    font-size: 10px;
    
}   
.content_footer{
    float:left;
    color: black;
    
    background-color: #ebebebed;

    font-size: 15px;
    
}
.content_foot{
    color:black;
    border-bottom: 0.5px solid black;
    font-size: 20px;margin-bottom:20px;font-weight:bold;
}
 
.icon1 {
    width: 40;
    transition: width 1s;
}

.icon1:hover {
    width: 50;
}

.icon2 {
    width: 40;
    transition: width 1s;
}

.icon2:hover {
    width: 50;
}

.icon3 {
    width: 40;
    transition: width 1s;
}

.icon3:hover {
    width: 50;
}


.hotline{
    color:blue;
    font-size: 3opx;
    
}   /*footer 1*/




.content_footer2{ /*footer 2*/   
    width: 30%;    
    position: relative;
    float:left;
    color: black;   
    background-color: #ebebebed;    
    font-size: 15px;    
}
.content_foot2{
    color:black;
    border-bottom: 0.5px solid black;
    font-size: 20px;margin-bottom:20px;font-weight:bold;
}
.footer_right{float:right;width:26%;overflow-x:auto;}
.form_search input{
    width:100%; /**/
    line-height: 35px;
    text-indent: 10px; 
    border:1px solid #999;
}

.form_search2 input{
    width:100%; /**/
    line-height: 35px;
    text-indent: 10px; 
    
}
.form_search2{
    
    margin-top:20px;position: relative;
}
.form_search{width:200px;float:right;margin-top:18px;}


.footer2{
    background-color: #ebebeb;
    border-top: 1px solid rgba(36, 20, 20, 0.233);    
    padding:0 1%;
    text-align:right;
}

.content_footer3{    
    line-height: 50px;
}
.content_foot3{display:inline-block;}
.content_footer3 li {
    float: left;
    padding: 0 0 0 5px;
}

.content_footer3 li .copyrgiht {
    
    padding: 0 0 0 20px;
}
/*footer 2*/



.img_con {
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_1{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_2{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_3{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_4{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_5{
    animation-name: example;
 animation-duration: 1.5s;
}
.img_con_6{
    animation-name: example;
 animation-duration: 1.5s;
}



