/*menu header*/
/*menu header*/
.menu_header{border-top:1px solid #ebebeb; background-color: #f5f5f5;}
.menuheader_left{float:left;}
.menuheader_right{float:right}
.menu_hmain >li{
    float:left;
    padding: 0.8em 1.5em;
}
.menu_hmain li a
{
    display: block;
    color:#666;
    text-align: center;
    font-weight:bold;
    text-decoration: none;
} 

.menu_hmain li a:hover{
  color:black;
}



.menuheader_right li{border:none}

.li_co_cap{
    position: relative; /* thằng cha dùng relative*/
    text-decoration: none;
    display: inline-block;
    border:none;
}

.menu_con{
    position: absolute; /* thằng con dùng absolute*/
    top:100%; 
    left:50%; 
    transform: translate(-50%, 0px);
    display:none;
    width: 150px ;
    z-index: 99999;  /* độ chìm độ nổi , càng cao càng nổi */
    border:1px solid #ebebeb;
    border-top:none;
    padding:20px;background:#fff;
}
.menu_con li{display: block;margin-bottom:8px;float: none;padding:0;}
.menu_con li a{font-size:13px;}
.li_co_cap:hover .menu_con{display:block} 



#slider img{width:100%;}
#slider a{display:block;}

/* .main_page{
    background: url('../img/') no-repeat center;
    background-attachment: fixed;
    background-size: cover;position: relative;
}
.main_page:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 0;}
.main_page >div{position: relative;z-index:1;} */

.fixed_menu{
    position: fixed;
    width:100%;
    top:0;left:0;
    z-index: 999999;
    background:#fff;
}

.menu_header2{
    border-bottom: 1px solid #ebebeb; 
    border-top: 1px solid #ebebeb; 
    padding:0 10px;
}

.menuheader_left2{
   padding: 12px 5px;
    float: left;
    position: relative;
}
.menuheader_mid{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    
}
.menuheader_mid li{
    border: none;
} 

.img_cart{
  margin-top:-8px;
}
/*end menu header*/



/*Load Menu title*/
.loadmenu{display:none;}
.showmenu_mobile{display: none;padding:0 !important;}
.showmenu_mobile a{position: relative;width:77px;height:43px;}
.showmenu_mobile a:after{content:'';position: absolute;width:50%;border-top:2px solid #333;border-bottom:2px solid #333;height:8px;
top:10px;left:50%;transform: translate(-50%, 0px);transition: all ease 0.5s;}
.showmenu_mobile a:before{content:'';position: absolute;width:50%;border-top:2px solid #333;bottom:10px;left:50%;
transform: translate(-50%, 0px);transition: all ease 0.5s}

.mm-wrapper_opening .showmenu_mobile a:after{border-bottom:none;transform: translate(-50%, 0px) rotate(45deg);top: 19px;left: 48%;}
.mm-wrapper_opening .showmenu_mobile a:before{transform: translate(-50%, 0px) rotate(-45deg);bottom: 20px;}

/*My Btn*/
#myBtn{
  position: fixed;
  color:red;
  border-radius: 15px;
  background-color: #ebebeb;
  z-index: 9999999;
  bottom: 60px;
  left:15px;
  font-size: 20px;
  
  
}
#myBtn:hover{
  width:60;
  height:60;
}

/*Toggle*/
#toggle{display:none;
  font-size:20;}
  #div_menu_sidebar{
      display:none;
      background-color:#f5f5f5;
      color:black;
  }
  .ul_sidabar{
    
      background-color: #ebebeb;
  }
  .li_sidabar{
      font-size:15;
      font-weight: bold;
      border-bottom:solid 0.5px #ebeb;
      
  }
  .li_sidabar a{
      color :black;
      margin-left: 30px;
  }
  

  .menu_sidebar{}
  .menu_sidebar >li > a{color:black;font-size:15px;font-weight:bold;display:block;cursor: pointer; margin-left:20px;}
  .menu_sidebar >li{padding: 10px 0;border-bottom:1px solid #ebebeb;position: relative; margin-left:10px;}
  .menu_sidebar >li:after{content: ''; position: absolute; background: url(../img/arrow.png) no-repeat top center; background-size: 100%; 
  top: 12px; right: 10px; width: 20px; height: 20px;transition: all ease 0.6s;;}
  .menu_sidebar >li ul{display:none;padding-top: 10px; padding-left: 15px;}
  .menu_sidebar >li ul >li >a{color:#ebebeb;font-size:13px;}
  .menu_sidebar >li ul >li{margin-bottom:5px;}
  .liactive_side:after{transform: rotate(180deg);}
  .sidebar_option {color :#ebebeb}

  /*Toggle*/



@media (max-width: 1110px) {
  #menu_contain li{padding: 0 20px;}
  .cart{top:330px;}
  #toggle{display:block;}
  .call{top:380px;}
  .hotline-phone-ring-wrap{display:none;}
  #myBtn{display:none}
  .homeres{display:none}
}

@media (max-width: 1100px) {
    #menu_contain li{padding: 0 20px;}
}

@media (max-width: 1065px) {
  .menu_header2{display: none;}
  .main_page{padding:0 1%;}
  .footer{padding:30px 1%;}
  .footer2{text-align:center;}
  #toggle{display:block;}
  
  .login ,.login2 {display:none !important;}
  .cart{top:330px;}
  .call{top:380px;}
  
  }

  @media (max-width: 1024px) {
    .Item_different{width:100%;}
    .main_containt_left{width:100%;height:auto;}
    .main_containt_right{width:100%;margin-top:20px;height:auto;}
    .cart_call{display: grid; grid-gap: 20px; grid-template-columns: 1fr 1fr;}
    .page_container2{padding:0 1%;}
    .Danhmuc,  .Item_different{display:none;}
    .main_containt_left{display: grid; grid-template-columns: 1fr 1fr;grid-gap: 10px;}
    .img_main, .img_main_2{width:100%;padding:0;}
  }


  @media (max-width: 800px) {
    .cart{top:370px;}
    .call{top: 420px;}
    .content_footer{width:100%;padding-right:0;margin-bottom:30px;}
    .content_footer2{width:49%;}
    .footer_right{width:49%;float:right;}

  }



@media (max-width: 740px) {
  
  .cart {top:430px}
    .call {top:480px;}
  
    
}

@media (max-width: 500px) {
  .call{top: 350px;}
  .cart{top: 320px;}
  .content_footer2{width:100%;margin-bottom:30px;}
  .footer_right{width:100%;float:right;}
}

@media (max-width: 420px) {
    .main_content_grid{grid-template-columns: repeat(1,1fr);}
    .main_content6{grid-column: unset;}
}

@media (max-width: 360px) {
  .main_containt_left{grid-template-columns: 1fr;}
  .cart_call{grid-template-columns: 1fr;grid-gap: 5px;}
}

@media (max-width: 321px) {
.iconTrangchu{display:none}
}

  @media (max-width: 768px) {
    .hotline-bar {
      display: none;
    }
  }
/*==========BOX INTRO===============*/
.boxintro_item{text-align: center;}
.boxintro_main{background:#f5f5f5;padding:12px 0;}
.auto_intro, .auto_intro div{outline:none !important;}

/*Call*/
.hotline-phone-ring-wrap {
    position: fixed;
    right: 100px;
    bottom: 20px;
    z-index: 999999;
  }
  .hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
  }
  .hotline-phone-ring-circle {
      width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #f5f5f5;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  .hotline-phone-ring-circle-fill {
      width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: f5f5f5(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .hotline-phone-ring-img-circle {
      background-color: #e60808;
      width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hotline-phone-ring-img-circle .pps-btn-img {
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hotline-phone-ring-img-circle .pps-btn-img img {
      width: 20px;
      height: 20px;
  }
  .hotline-bar {
    position: absolute;
    background: f5f5f5(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
  }
  .hotline-bar > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
  }
  .hotline-bar > a:hover,
  .hotline-bar > a:active {
    color: red;
  }


  .iconTrangchu{
    margin-top:5px;
    
  }
  
.Trangchu{
    margin-top: 5px;
    font-size:15px !important;

}
.login2 :hover{
 color: red;
}




  .mappage iframe{display:block;width:100% !important; height:400px !important;}

  @-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    30% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
  @-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.6;
    }
    100% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    outline: thick;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3171d1;
  color: #f9f9f9 !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.li_co_cap a:hover
{
  text-decoration: none !important;
  color: #3171d1;
}
